// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";

.users {
  li{
    padding-bottom: 5px;
    margin: 20px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}