<footer class="footer">
  <small>
    The Capstone app 
    by <a href="https://www.facebook.com/binhthuan274">Minh Thuan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>